/* Variações azul */
$Celeste: #007fff;
$AzulMeiaNoite: #191970;
$Azul-dessaturado: #3d8be9;
$Azul-Escuro: #000A1A;

/* Outras cores */
$Grena: #831d1c;
$Carmin: #712f26;
$Quantum: #111111;
$VerdePrimavera: #00fa9a;
$White: #fff;